<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willian.cortes.willmaterialdesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SuperMaterialTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.willian.cortes.willmaterialdesign.TextFieldActivity" />
        <activity android:name="com.willian.cortes.willmaterialdesign.ButtonsActivity" />
        <activity android:name="com.willian.cortes.willmaterialdesign.SelectionControlsActivity" />
        <activity android:name="com.willian.cortes.willmaterialdesign.DialogActivity" />
        <activity android:name="com.willian.cortes.willmaterialdesign.SnackActivity" />
        <activity android:name="com.willian.cortes.willmaterialdesign.ProgressActivity" />
        <activity android:name="com.willian.cortes.willmaterialdesign.CardsActivity" />

        <activity
            android:name="com.willian.cortes.willmaterialdesign.CollapsingActivity"
            android:theme="@style/SuperAppTheme.NoActionBar"/>

    </application>

</manifest>